#app {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    height: 100%;
}

#mainContent {
    display: flex;
    justify-content: center;
    height: 100%;
}

#container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 65%;
}